.news-container {
  font-size: 14px;  
}
.news-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.news-box h6 {
  margin-bottom: 10px;
}
.news-box img {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}
.news-card {
  width: 20%;
  margin: 5px;
}
small {
  display: block;
  margin-bottom: 16px;
  color: rgb(109, 102, 102);
}
@media (max-width: 700px) {
  .card-text {
    display: none;
  }
}

