#sidebar {
    display: flex;
    justify-content: center;
    /* width: 200px; */
    position: fixed;
    height: 100vh;
    background: white;
    -webkit-box-shadow: 6px 1px 30px -10px rgba(196,181,196,1);
    -moz-box-shadow: 6px 1px 30px -10px rgba(196,181,196,1);
    box-shadow: 6px 1px 30px -10px rgba(196,181,196,1);
}

.side-li{
    display: flex;
    margin: 20px;
    flex-direction: column;
    /* border: 1px solid black; */
}

.side-li div{
    text-align: center;
}

.side-li a{
    color: black;
    text-decoration: none;
    transition: 0.5s ease all;
}

.side-li a:active{
    color: black;
    text-decoration: none;
}

.side-li a:hover{
    text-decoration: none;
    color: orange;
    transform: scale(0.9); 
}

.side-li img{
    transition: 0.5s ease all; 
}
.side-li img:hover{
    transform: scale(0.9); 
}