#sidebar {
    display: flex;
    justify-content: center;
    /* width: 200px; */
    position: fixed;
    height: 100vh;
    background: white;
    -webkit-box-shadow: 6px 1px 30px -10px rgba(196,181,196,1);
    -moz-box-shadow: 6px 1px 30px -10px rgba(196,181,196,1);
    box-shadow: 6px 1px 30px -10px rgba(196,181,196,1);
}

.side-li{
    display: flex;
    margin: 20px;
    flex-direction: column;
    /* border: 1px solid black; */
}

.side-li div{
    text-align: center;
}

.side-li a{
    color: black;
    text-decoration: none;
    transition: 0.5s ease all;
}

.side-li a:active{
    color: black;
    text-decoration: none;
}

.side-li a:hover{
    text-decoration: none;
    color: orange;
    transform: scale(0.9); 
}

.side-li img{
    transition: 0.5s ease all; 
}
.side-li img:hover{
    transform: scale(0.9); 
}

.dashboard-box{
    margin-top: 15px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "user badge . ."
    "user badge . ."
    "user ranking ranking ."; */
}

.card-img-top{
    padding: 5px 60px;
    width: 100%;
    height: 10vw;
}

.middle-box{
    
}

.ranking-box{
    /* grid-area: ranking; */
    width: 200px;
}

.user-bg{
    color: lightgreen;
}

.badge-box{
    margin-bottom: 40px;
}

.progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
  }
  
  .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .progress .progress-left {
    left: 0;
  }
  
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress .progress-right {
    right: 0;
  }
  
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }